force-app/main/default/flows/SYS_Transaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Charge_Request_Outbound_Log</name>
        <label>Charge Request Outbound Log</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <actionName>SYS_InvocableHandler</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__oldVal</typeName>
            <typeValue>Transaction__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__newVal</typeName>
            <typeValue>Transaction__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>newVal</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>integrationSetting</name>
            <value>
                <stringValue>Stripe</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectSetting</name>
            <value>
                <stringValue>Stripe_Transaction</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldVal</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operationType</name>
            <value>
                <stringValue>INSERT</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Check_if_Contact_is_Selected</name>
        <label>Check if Contact is Selected</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_is_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Customer_Status_to_Active</targetReference>
            </connector>
            <label>Contact is Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Payment_Request_is_Selected</name>
        <label>Check Payment Request is Selected</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payment_Request_is_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Intent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Payment_Request_Status</targetReference>
            </connector>
            <label>Payment Request is not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Payment_Request_is_Selected_0</name>
        <label>Check Payment Request is Selected</label>
        <locationX>974</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payment_Request_is_not_Null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Intent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Payment_Request_Status_0</targetReference>
            </connector>
            <label>Payment Request is not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Required_Fields_Before_Charge</name>
        <label>Check Required Fields Before Charge</label>
        <locationX>1502</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ready_to_Charge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyCode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Intent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TransactionDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Charge_Request_Outbound_Log</targetReference>
            </connector>
            <label>Ready to Charge</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Transaction_Status</name>
        <label>Check Transaction Status</label>
        <locationX>1139</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Transaction_Status_is_Succeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>succeeded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Payment_Request_is_Selected</targetReference>
            </connector>
            <label>Transaction Status is Succeeded</label>
        </rules>
        <rules>
            <name>Transaction_Status_is_Failed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Payment_Request_is_Selected_0</targetReference>
            </connector>
            <label>Transaction Status is Failed</label>
        </rules>
        <rules>
            <name>Transaction_is_Scheduled_or_initiated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>initiated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Required_Fields_Before_Charge</targetReference>
            </connector>
            <label>Transaction is Scheduled or initiated</label>
        </rules>
    </decisions>
    <description>Upon Transaction Completed Update Payment Request Status and Activate Customer</description>
    <formulas>
        <description>Charge Activity Subject</description>
        <name>ActivityMessage</name>
        <dataType>String</dataType>
        <expression>&apos;Charged $&apos;&amp;TEXT({!$Record.Amount__c})&amp;&apos; for &apos;&amp;{!$Record.Account__r.Name}&amp;&apos; &apos;&amp; TEXT({!$Record.Payment_Intent__r.Order__r.Order_Type__c})&amp;&apos; Service. Payment Receipt Link &apos;&amp;{!$Record.Stripe_Receipt_URL__c}</expression>
    </formulas>
    <formulas>
        <name>ActivitySubject</name>
        <dataType>String</dataType>
        <expression>&apos;Outbound SMS to Member - &apos;&amp;{!$Record.Contact__r.Phone_Number__c}&amp;&apos; for &apos;&amp;{!$Record.Account__r.Name}&amp;&apos; &apos;&amp;TEXT({!$Record.Payment_Intent__r.Order__r.Order_Type__c})&amp;&apos; Service.&apos;</expression>
    </formulas>
    <formulas>
        <name>FormatPhone</name>
        <dataType>String</dataType>
        <expression>if(begins ( {!$Record.Contact__r.Phone_Number__c} , &quot;5&quot;), 
	substitute( {!$Record.Contact__r.Phone_Number__c} , {!$Record.Contact__r.Phone_Number__c} , &quot;1&quot;&amp; {!$Record.Contact__r.Phone_Number__c} ),
		if(begins ( {!$Record.Contact__r.Phone_Number__c} , &quot;6&quot;), 
			substitute( {!$Record.Contact__r.Phone_Number__c} , {!$Record.Contact__r.Phone_Number__c} , &quot;1&quot;&amp; {!$Record.Contact__r.Phone_Number__c} ),
				if(	begins ( {!$Record.Contact__r.Phone_Number__c} , &quot;7&quot;), 
						substitute( {!$Record.Contact__r.Phone_Number__c} , {!$Record.Contact__r.Phone_Number__c} , &quot;91&quot;&amp; {!$Record.Contact__r.Phone_Number__c} ),
					if(begins ( {!$Record.Contact__r.Phone_Number__c} , &quot;8&quot;), 
						substitute( {!$Record.Contact__r.Phone_Number__c} , {!$Record.Contact__r.Phone_Number__c} , &quot;91&quot;&amp; {!$Record.Contact__r.Phone_Number__c} ),
						if(begins ( {!$Record.Contact__r.Phone_Number__c} , &quot;9&quot;), 
							substitute( {!$Record.Contact__r.Phone_Number__c} , {!$Record.Contact__r.Phone_Number__c} , &quot;91&quot;&amp; {!$Record.Contact__r.Phone_Number__c} ),							
		{!$Record.Contact__r.Phone_Number__c} )))))</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>SYS Transaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SYS Transaction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Activity_for_Charging_an_Order</name>
        <label>Create Activity for Charging an Order</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Contact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>ActivityMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>FormatPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>ActivitySubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>sms</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>When__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Customer_Status_to_Active</name>
        <label>Update Customer Status to Active</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Update_Order_Status_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Status_Completed</name>
        <label>Update Order Status Completed</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Create_Activity_for_Charging_an_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Payment_Intent__r.Order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payment_Request_Status</name>
        <label>Update Payment Request Status</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Check_if_Contact_is_Selected</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Payment_Intent__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>payment_new</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>payment_failed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>payment_done</stringValue>
            </value>
        </inputAssignments>
        <object>Payment_Intent__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payment_Request_Status_0</name>
        <label>Update Payment Request Status</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Payment_Intent__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>payment_new</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>payment_failed</stringValue>
            </value>
        </inputAssignments>
        <object>Payment_Intent__c</object>
    </recordUpdates>
    <start>
        <locationX>1013</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Transaction_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Transaction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
